/* press page */

.press-container {
    display: flex;
    justify-content: center;
    max-width: 1090px !important;
    margin: 0 auto;

  }
  .press-cards {
    display: flex;
    flex-wrap: wrap;
    
    padding-top: 80px;
    width: 80%;
   
    height: auto;
   
    
    
    
    
  }
  .press-card {
    width: 270px;
    margin: 10px;
    display: flex;
    flex-direction:column;
    
    border-radius: 5px;
    background: #000;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    height: auto;
    padding:10px;
    transition: all .3s ease-in-out;
    opacity: 1;
    
    
      
    
  } 
  
  @keyframes scale {
    0% {
      transform: scale(1.0);
    }
    100% {
      transform: scale(1.02);
    }
  }
  .press-card img {
    max-width: 100%;
    margin-bottom: 30px;
    
  }
  .press-card .text {
    color: #fff;
    font-size: 16px;
    padding: 0px 7px 0px 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    
   
   
  }
  
  .press-card  button {
    width: 80px;
    height: 30px;
    background-color: #c29525;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 20px;
    color: #eee;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin: 15px 0px 40px 0px ;
    visibility: hidden;
    font-weight: 200;
    
    
    
    }
    
    .press-card:hover  button {
      visibility: visible;
    animation: fadeIn linear .5s;
    }
    .press-card:hover  img  {
      opacity: 0.8;
    }
    .press-card:hover  .text p  {
      opacity: 0.8;
    }
    .press-card:hover  button {
      visibility: visible;
    animation: fadeIn linear .5s;
    }
    .press-card a:focus  button {
      visibility: visible !important;
    animation: fadeIn linear .5s;
    }
    .press-card  button:hover {
      background-color: #000;
      border: 1px solid #c29525;
    }
    .press-card:nth-child(1) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      margin: 0px auto 100px auto;
      height: 500px;     
      
  }
  .press-card:nth-child(1) img {
        height: 100%;   
        
    
}
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  .widget-container {
    display: flex;
    margin: 180px auto 130px auto;
    
    justify-content: center;
    max-width: 1440px;
    
  }
  .widget {
    width: 60%;
    flex-direction: column;
  }
  .title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 2em;
  }
  
  
  @media (max-width: 900px) {
    .press-card {
    flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      margin: 0px 30px 130px 30px;
      height: auto;
  }
  .press-card:nth-child(1) {
    margin: 0px 30px 130px 30px;
    height: auto;
   
  }
  .widget-container {
  margin: 130px auto 130px auto;
  }
  .press-card button {
    visibility: visible;
  }
  .press-card:hover  button {
    visibility: visible;
  animation: none;
  }
  .press-card:nth-child(1) img {
    height: 100%;   
    
}
.press-card:nth-child(1) {
  height: auto;
} 
.press-card img {
  height: 100%;
}
}
@media (max-width: 550px){
  .widget-container {
    margin: 2em auto 130px auto;
    
    }
    .widget {
      width: 70%;
    }
}
  
@media (max-width: 600px) {
  .press-card {
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 0px 10px 40px 10px;
    height: auto;
}
.press-card:nth-child(1) {
  margin: 0px 10px 40px 10px;
  height: auto;
 
}
}
@media (max-width: 414px) {
  .press-card {
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 0px auto;
    height: auto;
}
.press-card:nth-child(1) {
  margin: 0px auto;
  height: auto;
 
}
.press-card img {
  
   
}
.press-card:nth-child(1) img {


 
}
}
  
  /* end of press page */